@model CreateStudentDtoUI
@{
    ViewData["Title"] = "CreateStudent";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    span{
        color:red;
        font-size:9pt;
    }
</style>

<div class="row">
    <div class="col-md-12">

        <form method="post" asp-controller="Student" asp-action="CreateStudent" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Ürün Güncelleme</div>
                </div>
                <div class="card-body">
                   
                    <div class="form-group">
                        <label asp-for="FirstName">Öğrenci Adı</label>
                        <input type="text" class="form-control" asp-for="FirstName">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Öğrenci Soyadı</label>
                        <input type="text" class="form-control" asp-for="LastName">
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate">Doğum Tarihi</label>
                        <input type="date" class="form-control" asp-for="BirthDate">
                        <span asp-validation-for="BirthDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnrollmentDate">Kayıt Tarihi</label>
                        <input type="date" class="form-control" asp-for="EnrollmentDate">
                        <span asp-validation-for="EnrollmentDate"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImgFile">Ürün Resim Yolu</label>
                        <input type="file" class="form-control" asp-for="ImgFile">
                        <span asp-validation-for="ImgFile"></span>
                    </div>



                </div>
                <div class="card-action">
                    <button class="btn btn-success" type="submit">Öğrenci Ekle</button>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Index">Geri</a>
                </div>
            </div>
        </form>
    </div>

</div>
