<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Ready Bootstrap Dashboard</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<link rel="stylesheet" href="~/adminTemplate/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="~/adminTemplate/assets/css/ready.css">
<link rel="stylesheet" href="~/adminTemplate/assets/css/demo.css">

<style>
    .active {
        background-color: #f2f3f8;
    }
</style>

<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.sweetAlertConfirm').forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault(); // Bağlantının varsayılan davranışını engelle

                let href = this.getAttribute('href'); // Bağlantının href değerini al

                Swal.fire({
                    title: 'Onayla',
                    text: 'Bu işlemi yapmak istediğinizden emin misiniz?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet',
                    cancelButtonText: 'Hayır'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Kullanıcı onayladıysa bağlantıya yönlendir
                        window.location.href = href;
                    }
                });
            });
        });
    });
</script>
